/* Main container */
.modalGallery_Container{

    /* variables for sizing of gallery */

    --IndicatorHeight:20px;
    --NavigationWidth:22.88px;

    display:grid;
    grid-template-columns: 
        var(--NavigationWidth) 
        calc( 100% - var(--NavigationWidth)*2 ) 
        var(--NavigationWidth);

    grid-template-rows: 100%;
    justify-content: space-between;
    height:100%;
    width:100%;
    padding-top: 0px;
}
/* Center container for images and indicators */

.modalGallery_gallery{
    display:inline-grid;
    grid-template-rows: calc(100% - var(--IndicatorHeight)) var(--IndicatorHeight);
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    height:100%;
}
/* Container for all images */

.modalGallery_images{    
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width:100%;
    justify-content: space-evenly;
    height:100%;
    overflow: hidden;
}

.modalGallery_images div {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height:100%;
    flex-shrink: 0;
    transition: transform 0.7s cubic-bezier(0.45, 0.08, 0.54, 0.93);
}

.modalGallery_images div img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    margin: 0 5px;
}

/* Navigation */

.modalGallery_nav-arrow{
    display:grid;
    align-items: center;
    width:22.88px;

}

.modalGallery_nav-arrow div{
    cursor: pointer;
}

/* Container for indicators */

.modalGallery_displayedImgIndicator{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100%;
    justify-content: center;
    gap: 1vw;
    user-select: none;
}

.modalGallery_indicatorSelected{
    font-size: 2rem;
}
